<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<!-- fragment for category form -->
<div th:fragment="formFragment">
    <form action="#" th:object="${item}" method="post">
        <input th:field="*{id}" placeholder="Category Id?"/>
        <input th:field="*{name}" placeholder="Category Name?"/>
        <hr>
        <button formaction="/category/create" type="submit">Create</button>
        <button formaction="/category/update" type="submit">Update</button>
        <a th:href="@{|/category/delete/${item.id}|}">Delete</a>
        <a href="/category/index">Reset</a>
    </form>
</div>
</body>
</html>
